{% extends 'base.html.twig' %}

{% block title %}DeptEmp{% endblock %}

{% block body %}
    <h1>DeptEmp</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Emp_no</th>
                <td>{{ dept_emp.empNo }}</td>
            </tr>
            <tr>
                <th>Dept_no</th>
                <td>{{ dept_emp.deptNo }}</td>
            </tr>
            <tr>
                <th>From_date</th>
                <td>{{ dept_emp.fromDate ? dept_emp.fromDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>To_date</th>
                <td>{{ dept_emp.toDate ? dept_emp.toDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dept_emp_index') }}">back to list</a>

    <a href="{{ path('app_dept_emp_edit', {'emp_no': dept_emp.emp_no}) }}">edit</a>

    {{ include('dept_emp/_delete_form.html.twig') }}
{% endblock %}
